@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&family=Shrikhand&display=swap");
@font-face {
  font-family: 'ohmyfood';
  src: url("../learning_curve_alt_G_bold_ot_ps.otf"); }
* {
  font-family: 'Roboto', 'ohmyfood', 'Calibri';
  font-weight: normal; }

h1, h2 {
  font-family: 'Shrikhand','Roboto','ohmyfood','Calibri'; }

body {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
  background: #F2F2F2; }

header {
  text-align: center;
  color: white;
  border-bottom: black 2px solid;
  box-shadow: 0px 0px 8px #9356DC; }
  header img {
    margin-top: 0px;
    max-width: 100%; }

#Location {
  padding-left: 10px;
  margin-top: 10px; }
  #Location * {
    border: none;
    background: none;
    font-size: 30px; }

a {
  text-decoration: none;
  color: black;
  display: contents; }

section {
  margin-left: 5px;
  border-left: #99E2D0 solid 2px;
  padding-left: 2px; }

#Restaurants {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }

.Restaurant {
  width: min-content;
  min-width: 275px;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 5px;
  border: solid black 2px;
  border-radius: 17px;
  background: #FF79DA;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  max-width: 40%;
  max-width: 300px;
  margin-left: 5px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px; }
  .Restaurant figure {
    display: flex; }
    .Restaurant figure img {
      height: 175px;
      width: 175px;
      border-top-left-radius: 15px;
      border-top-right-radius: 15px;
      flex-grow: 1;
      max-width: 100%;
      object-fit: cover; }
  .Restaurant_photo {
    margin: 0px; }
  .Restaurant_description {
    display: flex; }
    .Restaurant_description * {
      margin: 0px;
      color: black;
      font-size: 1em;
      border-radius: 15px; }
    .Restaurant_description h3 {
      font-size: 32px; }
    .Restaurant_description p {
      font-size: 20px; }
    .Restaurant_description i {
      display: flex;
      justify-content: center;
      align-self: center; }
    .Restaurant_description_text {
      flex: 1;
      padding-left: 8px; }
    .Restaurant_description .fas {
      opacity: 0.1;
      transition: 50ms;
      position: relative;
      right: 16px; }
    .Restaurant_description .fas:hover {
      opacity: 1; }

#General_description {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center; }
  #General_description li {
    border-radius: 15px;
    border: solid black 1px;
    counter-increment: li;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 5px;
    width: 275PX;
    font-size: 1.3em; }
    #General_description li::before {
      content: counter(li);
      color: white;
      display: inline-block;
      width: 1em;
      position: relative;
      right: 1.5em;
      border-radius: 15px;
      background: #FF79DA;
      text-align: center; }

footer {
  background: #9356DC;
  padding-bottom: 5px;
  width: 100%;
  font-size: 20px; }
  footer ul {
    list-style: none;
    margin-bottom: 0px; }
  footer * {
    color: white; }

#command {
  margin-top: 15px;
  width: 250px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  background: #FF79DA; }
  #command:hover, #command:hover * {
    cursor: pointer; }
  #command input {
    background: none;
    border: none;
    color: white;
    font-size: 30px; }

#loader, body {
  animation-duration: 2000ms; }

body {
  animation-name: overhide; }

#loader {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  visibility: hidden;
  background: white;
  animation-name: loading;
  justify-content: center;
  display: flex;
  align-items: center; }
  #loader_logo {
    animation: spinning_logo 0.5s linear infinite;
    height: 200px; }

@keyframes loading {
  0% {
    visibility: initial; }
  100% {
    visibility: hidden; } }
@keyframes spinning_logo {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(359deg); } }
.header_restaurant {
  display: flex; }
  .header_restaurant :nth-child(1) {
    flex: 1;
    padding-left: 15px;
    margin: 0px; }
  .header_restaurant :nth-child(2) {
    min-width: 60px;
    text-align: center;
    margin: auto; }
  .header_restaurant .fas {
    opacity: 0.1;
    transition: 50ms;
    position: relative;
    right: 38px;
    margin: auto; }
  .header_restaurant .fas:hover {
    opacity: 1; }

section {
  margin-left: 30px; }
  section .buttons {
    display: grid;
    padding-right: 15px;
    grid-row-gap: 10px;
    column-gap: 5px; }
    @media (min-width: 600px) {
      section .buttons {
        grid-template-columns: repeat(3, 1fr); } }
    @media (max-width: 600px) {
      section .buttons {
        grid-template-columns: repeat(2, 1fr); } }

button {
  display: flex;
  padding-right: 0px;
  border-radius: 13px;
  border: 0px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  max-width: 100%;
  margin-top: 5px;
  margin-left: 5px;
  height: 89%;
  overflow: hidden; }
  button .meal_description {
    flex: 1;
    margin-right: 15px;
    margin-bottom: 5px;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: calc(100% - 30px); }
    @media (max-width: 415px) {
      button .meal_description {
        margin-right: 0px; } }
    button .meal_description * {
      margin: 0px; }
    button .meal_description :nth-child(1) {
      text-align: left;
      margin-bottom: 5px;
      font-size: 23px;
      flex: 1; }
      @media (max-width: 415px) {
        button .meal_description :nth-child(1) {
          font-size: 18px; } }
    button .meal_description_price {
      display: flex; }
      button .meal_description_price :nth-child(1) {
        flex: 1;
        text-align: left;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        width: 100px;
        font-size: 14px;
        font-family: 'High Tower Text'; }
      button .meal_description_price :nth-child(2) {
        font-weight: bold;
        font-size: 25px; }
        @media (max-width: 415px) {
          button .meal_description_price :nth-child(2) {
            font-size: 15px; } }
  button .meal_check {
    background: #99E2D0;
    display: flex;
    width: 0px;
    justify-content: center;
    transition: 500ms;
    border-top-right-radius: 13px;
    border-bottom-right-radius: 13px;
    height: 100%;
    transition: 500ms;
    flex-shrink: 0; }
    button .meal_check i {
      align-self: center;
      font-size: 0px;
      color: white;
      transition: 500ms;
      position: relative;
      color: #F2F2F2; }
  button:hover .meal_check, button:active .meal_check {
    width: 30px; }
    button:hover .meal_check i, button:active .meal_check i {
      font-size: 15px;
      animation: spinning_check 500ms; }

@keyframes spinning_check {
  0% {
    left: 20px; }
  100% {
    transform: rotate(365deg);
    left: 0px; } }
@media (min-width: 600px) {
  .meal_enter button:nth-child(3n + 1) {
    animation: 1s apparition; }
  .meal_enter button:nth-child(3n + 2) {
    animation: 1.5s apparition; }
  .meal_enter button:nth-child(3n + 3) {
    animation: 2s apparition; }

  .meal_main button:nth-child(3n + 1) {
    animation: 2.5s apparition; }
  .meal_main button:nth-child(3n + 2) {
    animation: 3s apparition; }
  .meal_main button:nth-child(3n + 3) {
    animation: 3.5s apparition; }

  .meal_last button:nth-child(3n + 1) {
    animation: 4s apparition; }
  .meal_last button:nth-child(3n + 2) {
    animation: 4.5s apparition; }
  .meal_last button:nth-child(3n + 3) {
    animation: 5s apparition; } }
@media (max-width: 600px) {
  .meal_enter button:nth-child(2n + 1) {
    animation: 1s apparition; }
  .meal_enter button:nth-child(2n + 2) {
    animation: 1.5s apparition; }

  .meal_main button:nth-child(2n + 1) {
    animation: 2.5s apparition; }
  .meal_main button:nth-child(2n + 2) {
    animation: 3s apparition; }

  .meal_last button:nth-child(2n + 1) {
    animation: 4s apparition; }
  .meal_last button:nth-child(2n + 2) {
    animation: 4.5s apparition; } }
@keyframes apparition {
  0% {
    opacity: 0;
    left: 50px;
    position: relative; }
  100% {
    opacity: 1;
    left: 0px;
    position: relative; } }
@keyframes overhide {
  0% {
    overflow: hidden; }
  100% {
    overflow: hidden; } }
